body {
	margin: 0;
	font-family: Lato, Roboto;
}

header {
	padding: 10px;
	background-color: #00E4BA;
	color: #fff;
}
header h1 {
	color: #fff;
}

h1 {
	margin: 10px;
}

.content-wrapper {
	margin-top: 50px;
}

button {
	border: none;
	background: #fff;
	color: #00E4BA;
}
