{% load staticfiles %}

<html>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.3/css/uikit.almost-flat.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.3/js/uikit.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
  <head>
    {% block head %}<h1>Thankr</h1>{% endblock head %}
  </head>
  <body>
    {% block content %}{% endblock content %}
  </body>
</html>