{% extends "base.html" %}
{% load staticfiles %}
{% block styles %}
 <link rel="stylesheet" type="text/css" href="{% static 'moments.css' %}">
{% endblock styles %} 
{% block content %}
    <h1>My Moments!</h1>
        <div class='moments-table'>
        	<table class='uk-table uk-table-hover'>
        		<tr>
        			<th>Date</th>
        			<th>Title</th>
        			<th>Text</th>
                    <th>Rating</th>
                    <th>Category</th>
        		</tr>
        		{% if moments %}
    		    	{% for moment in moments %}
    		    		<tr>  
    		    			<td>{{ moment.date }} </td>
    		    			<td>{{ moment.title }} </td>
    		    			<td class='moment-text'>{{ moment.text }} </td>
                            <td>{{ moment.rating }} </td>
                            <td>{{ moment.category_name }} </td>
    		    		</tr>
    		    	{% endfor %}
    	    	{% else %}
    	    	<tr><td> Sorry no moments!</td></tr>
    	    	{% endif %}
        	</table>
        </div>

{% endblock %}
