{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <title>Thankr</title>
    </head>
    <body>
    	<table>
    		<tr>
    			<th>Date</th>
    			<th>Title</th>
    			<th>Text</th>
    		</tr>
    		{% if moments %}
		    	{% for moment in moments %}
		    		<tr>  
		    			<td>{{ moment.date }} </td>
		    			<td>{{ moment.title }} </td>
		    			<td>{{ moment.text }} </td>
		    		</tr>
		    	{% endfor %}
	    	{% else %}
	    	<tr><td> Sorry no moments!</td></tr>
	    	{% endif %}
    	</table>
    </body>

</html>
{% endblock %}
