{% extends "base.html" %}
{% load staticfiles %}
{% block styles %}
 <link rel="stylesheet" type="text/css" href="{% static 'moments.css' %}">
{% endblock styles %} 
{% block content %}
<h2> Smart suggestion of the day for {{ user.username }}:</h2>
Why don't you try more 

	{% if topCategory == 'food' %}
		food
	{% elif topCategory == 'travel' %}
		travelling
	{% elif topCategory == 'work' %}
		working
	{% elif topCategory == 'people' %}
		hanging out with friends
	{% else %}
		excercising
	{% endif %}

today? We think it'll make you happy.</br></br>

(Debug: your current top category is {{ topCategory}})

{% endblock %}
