{% extends "base.html" %}
{% load staticfiles %}
{% block styles %}
 <link rel="stylesheet" type="text/css" href="{% static 'moments.css' %}">
{% endblock styles %} 
{% block content %}
<h2> Smart suggestion of the day for {{ user.username }}:</h2>
Why don't you try 

	{% if topCategory == 'food' %}
		eating chinese food
	{% elif topCategory == 'travel' %}
		planning your weekend trip
	{% elif topCategory == 'work' %}
		working overtime
	{% elif topCategory == 'people' %}
		hanging out with friend Max
	{% else %}
		excercising for an hour
	{% endif %}

today? We think it'll make you happy.</br></br>

(Debug: your current top category is {{ topCategory}})

{% endblock %}
